@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: iranYekan;
    src: url(../public/assets/fonts/IRANYekanXFaNum-Regular.woff2);
    font-weight: 400;
    font-display: block;
}

@layer base {
    html {
        font-family: 'iranYekan';
        scroll-behavior: smooth;
    }
}